


.home-container {
  position: relative;
  text-align: center;
  color: white;
}




.home-background-audi {
    width: 100%;
    height: 115vh;
    object-fit: cover;
    filter: brightness(100%);
    box-shadow: 0px 0px 45px 2px rgba(0, 0, 0, 0.482);
    
}

.home-text-top-left {
  position: absolute;
  top: 20vh;
  left: 9%;
  width: 50%;
  font-size: small;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
}





.cvr-logo {
    width: 70%;
    max-width: 800px;
}



.home-p {
    color: rgb(255, 255, 255);
    font-weight: 500;
    width: 100%;
    padding: 0.5rem 0;
    border-radius: 25px;
    text-align: center;
    margin: 0 auto;
    font-size: x-large;
    font-family: "Cinzel", serif;
    font-optical-sizing: auto;
    font-weight: 100;
    font-style: normal;
    letter-spacing: 2px;
}

.home-p-text {
 width: 100%;
  font-size: large;
  color: rgb(255, 255, 255);
  text-align: center;
  font-weight: 600;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  background-image: linear-gradient(to top, rgba(42, 134, 190, 0.781), rgba(4, 4, 4, 0.781));
  padding: 1.5rem 15px;
  margin-top: 4rem;
  border-radius: 15px;
  box-shadow: 0px 0px 45px 2px rgba(1, 119, 183, 0.783);
}



.contacts {
    color: black;
}

@media only screen and (max-width: 1600px) { 
    .home-text-top-left {
        font-size: xx-large
    }

    .home-locations-bottom {
        font-size: small;
    }
}

@media only screen and (max-width: 1200px) { 
    .seans-logo {
        width: 80%;
    }
}


@media only screen and (max-width: 1000px) { 
    .home-text-top-left {
        font-size: xx-large;
        left: 0;
        width: 100%;
        padding: 0 20px;
    }
    .home-p-text {
        font-size: medium;
    }
    .home-background-audi {
        filter: brightness(64%);
    }
    .home-p {
        font-size: large;
    }
    h1 {
        font-size: large;
        margin-bottom: 1rem;
    }
    .vehicle-icons-inner-div-bottom {
        margin: 1rem 0;
    }
}


@media only screen and (max-width: 900px) {
    .home-text-top-left {
        font-size: large;
    }
}

@media only screen and (max-width: 700px) {
    .cvr-logo {
        width: 100%;
    }
    .locations {
        font-size: medium;
    }
    .home-text-top-left {
        width: 100%;
        left: 0;
        text-align: center;
        
    }
    .home-p {
        margin: 0 auto;
        padding: 0.5rem 0px;
        font-size: medium;
        letter-spacing: 0;
    }
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: small;
        padding: 1rem 10px;
    }
    .home-text-top-left {
        top: 8rem;
        font-size: medium;
    }
}
@media only screen and (max-width: 700px) {
    .home-p {
        font-size: small;
    }
    
}