

.warranty-div {
    background-color: white;
    color: black;
    width: 100%;
    padding: 8rem 10px;
    text-align: left;
    width: 70%;
    margin: 0 auto;
}

.warranty-header {
    font-size: xx-large;
    color: rgb(0, 63, 180);
    text-align: center;
}

@media only screen and (max-width: 900px) {
    .warranty-div {
        width: 100%;
        padding: 8rem 30px;
    }
    .warranty-header {
        font-size: large;
    }
    h2 {
        font-size: large;
    }
}
