.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    font-size: small;
    font-weight: 500;
    color: rgb(255, 255, 255);
    /* background-image: linear-gradient(to bottom, rgb(2, 124, 190), rgb(0, 175, 228)); */
    background-color: rgba(255, 255, 255, 0);
    margin: 0;
    /* border-bottom: 1px solid rgb(255, 255, 255); */
    padding: 5px 20px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 150;
}




.nav-container button {
    background-image: linear-gradient(to right, rgb(0, 166, 255), rgb(213, 213, 213));
    padding: 0.4rem 2rem;
    border-radius: 30px;
    font-size: x-small;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-right: 10px;
    border: none;
    color: white;
}


.nav-logo {
    width: 150px;
    padding-top: 10px;
    border: black 1px solid;
}


.container{
    position:relative;
    display: flex;  
    width:100%;
    flex-direction: column;
  }













a:link {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

span a:link {
    word-break: keep-all;
    margin: 0;
    padding: 0;
    color: rgb(255, 255, 255);
    font-size: xx-large;

}






a:visited {
    color: rgb(255, 255, 255);
}








@media only screen and (max-width: 700px) {
    .nav-logo {
        width: 100px;
    }
    .nav-container button{
        font-size: xx-small;
        padding: 0.2rem 1rem;
    }
    
    
}

@media only screen and (max-width: 500px) {
    .nav-container {
        display: block;
    }
}


@media only screen and (max-width: 400px) {
    .nav-business-name {
        font-size: x-small;
    }
    .nav-number {
        font-size: small;
    }
}






